body {
    margin: 0;
    padding: 0;
    background-color: #87CEEB; /* небесно-голубой цвет фона */
    background-image: url('https://i.ibb.co/MN6zT3V/4898392049.png'); /* замените 'minecraft_background.jpg' на путь к своему изображению фона */
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #fff; /* цвет текста */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff9900; /* оранжевый цвет для заголовка */
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Добавим стили для создания "пиксельного" эффекта, вдохновленного Minecraft */
.pixel {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #000; /* цвет пикселя */
    margin: 1px; /* расстояние между пикселями */
}
